<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='logo.svg') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='code.js') }}"></script>
	</head>

	<body onload="onload()">
		<a href="/"><h1>FrySite</h1> </a>

		<p>
			Upload image
		</p>

		<form method="post" action="/upload/" enctype="multipart/form-data">
			<input type="file" name="image">
			<button type="submit">Go</button>
		</form>

		{% if filename %}
		<table onload="refresh()">
			<tr><td id="control-panel">
				Saturation:<br>
				<input type="range" min=0.5 max=10 step=0.2 value=2 class="slider" id="saturation">
			<button onclick="document.getElementById('saturation').value=1">reset</button><br>
			Contrast:<br>
				<input type="range" min=0.5 max=10 step=0.2 value=2 class="slider" id="contrast">
			<button onclick="document.getElementById('contrast').value=1">reset</button><br>
				Brightness:<br>
				<input type="range" min=0.5 max=5 step=0.1 value=2 class="slider" id="brightness">
			<button onclick="document.getElementById('brightness').value=1">reset</button><br>
				Noise Factor:<br>
				<input type="range" min=0 max=100 step=1 value=10 class="slider" id="noiseFactor">
			<button onclick="document.getElementById('noiseFactor').value=0">reset</button><br>
				Chunkization Factor:<br>
				<input type="range" min=0 max=1 step=0.02 value=0.2 class="slider" id="chunkFactor">
			<button onclick="document.getElementById('chunkFactor').value=0">reset</button><br>
				Compression Quality:<br>
				<input type="range" min="1" max="75" step=1 value=50 class="slider" id="quality">
			<button onclick="document.getElementById('quality').value=75">reset</button><br>
				<button onclick="refresh()">Refresh</button><br>
				<a href="{{ filename }}"><button>Get Image</button></a>
			<div id="state"></id>
			</td><td id="img-container">
				<img src="{{ filename }}" id="fried-image" alt="{{ oldfile }}" />
				<canvas id="bulge-can" onclick="placeFeature(event)"></canvas>
			</td></tr>
		</table>
		{% endif %}
	</body>
</html>
